[Unit]
Description=Porcupine mic service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=30
ExecStart=/usr/bin/python3 -u /home/debian/porcupine_demo_mic.py --access_key 6+IQoxrjY8//bWy4h4IH3+Z1QIasU4SJd1jUBfHkqCjQiZpFTfN57Q== --keywords porcupine  --keyword_paths /home/debian/lights-off_en_beaglebone_v2_1_0.ppn --audio_device_index 1
[Install]
WantedBy=multi-user.target
